@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

* {
  background: #0F001F;
  color: #FFFFFF;
}

header {
  text-decoration: underline;
  color: #00FFFF;
}

#life {
  background: #FF00FF;
  color: #000000;
  font-family: monospace;
  margin-left: 0px;
}

h2 {
  margin-left: 0px;
  margin-top: 10px;
  color: #550000;
}

#other {
  margin-top: 70px;
}

#life a {
  background: #FF00FF;
  color: #000000;
  text-decoration: none;
  -webkit-transition: color .6s;
  transition: color .6s;
}

#life a:hover {
  color: #FFFFFF;
}

.view {
  /* background: #FFFFFF; */
  margin-left: 10px;
}

h1 {
  color: #00FFFF;
  font-size: 200%;
  font-family: sans-serif;
  font-style: normal;
  -webkit-transition: font-style 2s, transform .25s;
  transition: font-style 2s, transform .25s;
}

h1:hover {
  /* color: #FFFF00; 
  font-style: oblique; */
  -webkit-transform: skewX(-13deg);
  transform: skewX(-13deg);
}

#aboutme {
  display: none;
  color: #00FFFF;
}

h1:hover + #aboutme {
  display: block;
}

form, img {
  margin-left: 10px;
  margin-top: 10px;
  /*z-index: 1;*/
}

li {
  margin-top: 10px;
}

ul {
    list-style: square outside none;
    list-style-image: url(imgs/flowers1.png);
}

canvas {
  background: #FFFFFF;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 0;
  /*-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-40px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-40px);
    }*/
}

.pakdee {
  height: 50px;
  width: 50px;
  -webkit-transition: width 1s, height 1s, transform 1s;
  transition: width 1s, height 1s, transform 1s;
}

.pakdee:hover {
  height: 100px;
  width: 100px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}